In [2]:
# Q1. Explain with an example each when to use a for loop and a while loop.

In [3]:
""" We use for loop when we know how 
many times you need to iterate ."""

' We use for loop when we know how \nmany times you need to iterate .'

In [4]:
l = [1,2,3,4,5,6]

In [5]:
for i in l :
    print(i)

1
2
3
4
5
6

In [6]:
""" We use while loop when we don't know how many times you need to 
iterate and you have a specific condition."""

" We use while loop when we don't know how many times you need to \niterate and you have a specific condition."

In [7]:
i = 1
while i <= 6:
    print(i)
    i += 1

1
2
3
4
5
6

In [8]:
# Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
#     and while loop.

In [9]:
# Sum of the numbers using for loop

In [10]:
total_sum = 0
for i in range(1,11):
    total_sum = total_sum + i
total_sum

55

In [11]:
# Sum of the numbers using while loop

In [12]:
total_sum = 0
i = 1
while i <= 10:
        total_sum = total_sum + i
        i += 1
total_sum

55

In [13]:
# Product of the first 10 natural numbers using for loop

In [14]:
product = 1
for i in range(1,11):
    product = product * i
product

3628800

In [15]:
# Product of the first 10 natural numbers using while loop

In [16]:
product = 1
i = 1
while i <= 10 :
    product = product * i
    i += 1
product

3628800

In [22]:
# Q3. Create a python program to compute the electricity bill for a household.

In [27]:
def electricity_cal(electricity_unit):
    total_amount = 0
    if 0 < electricity_unit <= 100 :
        total_amount = electricity_unit * 4.5
    elif 100 < electricity_unit <= 200 :
        total_amount = (100 * 4.5) + (electricity_unit - 100) * 6
    elif 200 < electricity_unit <= 300 :
        total_amount = (100 * 4.5) + (100 * 6) +(electricity_unit - 200) * 10
    else:
        total_amount = (100 * 4.5) + (100 * 6) + (100 * 10) + (electricity_unit - 300) * 20
    return total_amount

In [28]:
electricity_cal(310)

2250.0

In [29]:
# Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
#     number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
#     that list.

In [20]:
num_list = list(range(1,101))

In [44]:
# Using for loop

In [61]:
divisible_nums = []
for i in num_list:
    cube_nums = i**3
    if cube_nums % 4 == 0 or cube_nums % 5 == 0 :
        divisible_nums.append(cube_nums)
divisible_nums

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [45]:
# Using while loop

In [62]:
divisible_numbers = []
i = 1
while i <= 100:
    cube_numbers = i**3
    i += 1
    if cube_numbers % 4 == 0 or cube_numbers % 5 == 0 :
        divisible_numbers.append(cube_numbers)
divisible_numbers

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [63]:
# Q5. Write a program to filter count vowels in the below-given string.
#     string = "I want to become a data scientist"

In [64]:
string = "I want to become a data scientist"

In [91]:
def count_vowels(string):
    count = 0
    vowels = 'aeiou'
    for char in string.lower():
        if char in vowels:
            count += 1
    return count

In [92]:
count_vowels(string)

12